@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.banner {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("banner-img.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: 420px 420px;
}

.card-img {
  background: url("card-img.jpg") center/cover no-repeat;
}

.banner h2 {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.card-content {
  background: #fff;
  height: 330px;
}

.card-content h3 {
  text-align: center;
  color: #c35757;
  padding: 25px 20px 10px 10px;
  font-size: 26px;
  font-weight: 500;
}

.form-row {
  display: flex;
  width: 96%;
  margin: 0 auto;
}

form select,
form input {
  display: block;
  width: 94%;
  margin: 15px 12px;
  padding: 5px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 300;
}

form input[type="text"],
form input[type="number"],
form input::placeholder,
select {
  color: #070606;
}

form input[type="submit"] {
  color: #fff;
  background: #f2745f;
  padding: 10px 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;

  border: 12px;
}

form input[type="submit"]:hover {
  opacity: 0.9;
}

@media (max-width: 992px) {
  .card-container {
    grid-template-columns: 100%;
    width: 100vw;
  }
  .card-img {
    height: 330px;
  }
}
