<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Reservation Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reservation.css') }}"
    />
  </head>

  <body>
    <section class="banner">
      <h2>BOOK YOUR TABLE NOW</h2>
      <div class="card-container">
        <div class="card-img">
          <!-- image here -->
        </div>

        <div class="card-content">
          <h3>Reservation</h3>
          <form method="POST" action="{{ url_for('reservation') }}">
            <div class="form-row">
              <input type="date" placeholder="Date" name="date" />
              <input type="time" placeholder="Time" name="time" />
            </div>

            <div class="form-row">
              <input type="text" placeholder="Full Name" name="full_name" />
              <input
                type="text"
                placeholder="Phone Number"
                name="phone_number"
              />
            </div>

            <div class="form-row">
              <input
                type="number"
                placeholder="Number of People"
                min="1"
                name="num_people"
              />

              <select name="tableType">
                <option value="familyDiningTables">Family Dining Tables</option>
                <option value="outdoorTables">Outdoor Tables</option>
                <option value="barHeightTables">Bar Height Tables</option>
                <option value="booths">Booths</option>
              </select>
            </div>
            <div class="form-row">
              <input type="submit" value="BOOK TABLE" />
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
