<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Reservations</title>
  </head>
  <body>
    <h1>Reservations</h1>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Number of People</th>
        <th>Table Type</th>
      </tr>
      {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.date }}</td>
        <td>{{ reservation.time }}</td>
        <td>{{ reservation.full_name }}</td>
        <td>{{ reservation.phone_number }}</td>
        <td>{{ reservation.num_people }}</td>
        <td>{{ reservation.table_type }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
